:root {
  --blue: #1F3577;
  --success: #00FF57;
  --danger: #FF5050;
  --warning: #FFA800;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body::-webkit-scrollbar {
  width: 8;
  background: 'transparent';
  height: '0.6rem';
}
 
body::-webkit-scrollbar-thumb {
  background: '#d1d1d1';
  border-radius: 8;
}